<div id="code-form" style="display: none">
  <h2 class="title" id="code-title">Введите код из письма</h2>
  <div class="description" id="code-description">Мы отправили код на вашу почту</div>

  <div class="actions">
    <form class="input-control" id="clogin">
      {% csrf_token %}
      <label for="code" id="code-label">Код из письма</label>
      <div class="input-content" id="code-input-content">
        <input type="text" name="code" id="code" placeholder="Введите код">
      </div>
      <span id="code-error" class="error" style="display: none">Неверный код</span>

      <button type="submit" id="clogin-button" disabled="">Продолжить</button>
      <button class="code-button" onclick="sendCode()" id="send-button" disabled="">Отправить код еще
        раз
      </button>
    </form>
  </div>
</div>