<div id="password-form" style="display: none">
  <h2 class="title">Введите пароль</h2>
  <div class="description">Введите пароль для входа</div>

  <div class="actions">
    <form class="input-control" id="plogin">
      {% csrf_token %}
      <label for="password">Пароль</label>
      <div class="input-content" id="password-input-content">
        <input type="password" name="password" id="password" placeholder="Введите пароль">
        <img src="static/Surveys/image/visibility-off.svg" class="change-type"
             alt="icon" id="password-icon" onclick="changePasswordType()">
      </div>
      <span id="password-error" class="error" style="display: none">Неверный пароль</span>

      <div class="reset-password" onclick="toResetPass()">Забыли пароль?</div>

      <button type="submit" id="plogin-button" disabled="">Продолжить</button>
    </form>
  </div>
</div>